body {
    margin: 0;
    padding: 0;
    /*background-color: darkolivegreen;*/
}

.container {
    display: flex;
    flex-direction: row;
}

.modal {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-head {
    display: flex;
    justify-content: space-between;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal form .form-input {
    display: flex;
    flex-direction: column;
}

.side-menu {
    width: 250px;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttons-area button {
    width: 160px;
    padding: 10px 30px;
}

.content {
    width: 100%;
    padding: 30px;
}

.task-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);

    grid-auto-flow: row;
    gap: 20px;    
}

.task-card {
    padding: 20px;
    border: 1px solid black;
    flex: auto;
}